src/main/resources/META-INF/xsduser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.milesloner.com/schema/xsduser"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.milesloner.com/schema/xsduser"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<!-- <xsd:element name="xsduser">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="userName" type="xsd:string" />
					<xsd:attribute name="email" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element> -->
</xsd:schema>